@use 'app/_mixin' as *;

.loading {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  perspective: 100px;
  @include fluidValue1440(font-size, 40, 30);
  font-weight: bold;
  > span {
    animation: flip 2s infinite;
    display: inline-block;
    transform-origin: 50% 50% -10px;
    transform-style: preserve-3d;
    @for $i from 1 to 8 {
      &:nth-child(#{$i}) {
        animation-delay: $i/10 + s;
      }
    }
  }
}

@keyframes flip {
  to {
    transform: rotateX(1turn);
  }
}
