@use 'app/_mixin' as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include fluidValue1440(margin-top, 50, 0);
  @include fluidValue1440(padding-top, 70, 50);
  padding-right: 1.5rem;
  @include fluidValue1440(padding-bottom, 70, 50);
  padding-left: 1.5rem;
  // background: linear-gradient(to right, #66fe9b, #03e5fc);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #66fe9b, #03e5fc);
  }
}

.logo {
  @include fluidValue1440(margin-bottom, 30, 20);
  @include pcOnly {
    width: 150px;
  }
  @include sp {
    width: 130px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1.5rem;
  @include fluidValue1440(margin-bottom, 50, 20);
  @include fluidValue1440(font-size, 16, 14);
  font-weight: bold;
  @include sp {
    flex-direction: column;
    align-items: center;
  }
}

.small {
  @include fluidValue1440(font-size, 14, 12);
}
