.root {
    background: linear-gradient(to right, #66FE9B, #03E5FC);
    img {
        max-width: 1287px;
        margin: 0 3px 0 auto;
    }
}


.inner {
    max-width: 1400px;
    margin: auto;    
}