// _mixin をインポート
@use 'app/_mixin' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mediaPC {
  @include sp {
    display: none;
  }
}

.mediaSP {
  display: none;
  @include sp {
    display: block;
  }
}

html {
  color: #333333;
  font-size: 100%;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

.text-highlight {
  position: relative;
  background: linear-gradient(transparent 70%, yellow 70%);
}

.common-radius {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.privacy-screen {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #66fe9b, #03e5fc);
}

.loading {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  perspective: 100px;
  @include fluidValue1440(font-size, 24, 20);
  font-weight: bold;
  > span {
    animation: flip 2s infinite;
    display: inline-block;
    transform-origin: 50% 50% -10px;
    transform-style: preserve-3d;
    @for $i from 1 to 8 {
      &:nth-child(#{$i}) {
        animation-delay: $i/10 + s;
      }
    }
  }
}

@keyframes flip {
  to {
    transform: rotateX(1turn);
  }
}
