@use 'app/_mixin' as *;

.root {
  padding: 1rem 1.5rem;
  @include fluidValue1440(padding-bottom, 90, 65);
  background: #d9fcff;
  overflow: hidden;
}

.list {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  @include fluidValue1440(row-gap, 57, 26);
  @include pcOnly {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include fluidValue1440(column-gap, 47, 0);
  }
  @include sp {
    display: flex;
  }
  > li {
    height: 100%;
    margin: auto;
    background: #fff;
    @include sp {
      width: 100%;
    }
    &:first-child,
    &:last-child {
      @include pcOnly {
        @include fluidValue1440(width, 800, 0);
      }
      margin: auto;
    }
    &:first-child {
      @include pcOnly {
        grid-column: 1/4;
        grid-row: 1/2;
      }
      .title {
        margin: 0;
        border: none;
        background: #23b6c4;
        color: #fff;
      }
      .contents__title {
        padding: 0.5rem;
        @include fluidValue1440(font-size, 36, 18);
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      @include pcOnly {
        grid-row: 2/3;
        width: 100%;
      }
      .contents__list {
        li {
          &:first-child {
            .contents__title {
              background: #23b6c4;
            }
          }
        }
      }
    }
    &:last-child {
      @include pcOnly {
        grid-column: 1/4;
        grid-row: 3/4;
      }
      .contents__list {
        display: flex;
        justify-content: center;
        @include fluidValue1440(column-gap, 20, 0);
        @include pcOnly {
          flex-direction: row;
        }
      }
    }
  }
}

.title {
  padding: 0.5rem 0;
  @include fluidValue1440(margin-right, 30, 30);
  @include fluidValue1440(margin-left, 30, 30);
  border-bottom: 1px solid #23b6c4;
  color: #23b6c4;
  @include fluidValue1440(font-size, 34, 20);
  font-weight: bold;
  text-align: center;
}

.contents {
  @include fluidValue1440(padding-top, 15, 15);
  @include fluidValue1440(padding-right, 30, 30);
  @include fluidValue1440(padding-bottom, 25, 25);
  @include fluidValue1440(padding-left, 30, 30);
}

.contents__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include fluidValue1440(row-gap, 10, 10);

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #23b6c4;
    font-weight: bold;
  }
}

.contents__title {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.25rem;
  background: linear-gradient(to right, #66fe9b, #03e5fc);
  color: #fff;
  @include fluidValue1440(font-size, 18, 12);
  line-height: 1.2;
  text-align: center;
}

.contents__price {
  @include fluidValue1440(font-size, 50, 24);
  line-height: 1.2;
  span {
    @include fluidValue1440(font-size, 20, 12);
  }
}

.text {
  margin-top: 0.75rem;
  @include fluidValue1440(font-size, 16, 12);
}
