@use 'app/_mixin' as *;

.root {
  padding: 1rem 1.5rem;
  @include fluidValue1440(padding-bottom, 90, 65);
  overflow: hidden;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  @include fluidValue1440(row-gap, 57, 50);
  > li {
    display: flex;
    flex-wrap: wrap;
    @include pcOnly {
      align-items: center;
      @include fluidValue1440(column-gap, 60, 0);
    }
    @include sp {
      width: 100%;
      @include fluidValue1440(row-gap, 60, 20);
    }
    &:nth-child(2n) {
      @include pcOnly {
        flex-direction: row-reverse;
      }
    }
  }
}

.text_wrap {
  flex: 1;
}

.image {
  @include fluidValue1440(width, 570, 340);
}

.point {
  display: inline-block;
  @include fluidValue1440(margin-bottom, 15, 10);
  padding: 0 10px;
  background: linear-gradient(to right, #66fe9b, #03e5fc);
  color: #fff;
  font-weight: bold;
}

.title {
  @include fluidValue1440(margin-bottom, 15, 10);
  color: #23b6c4;
  @include fluidValue1440(font-size, 28, 20);
  font-weight: bold;
  line-height: 1.5;
}

.description {
  @include fluidValue1440(font-size, 18, 14);
}
